<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxd.report.mapper.StIpConfingMapper" >
  <resultMap id="BaseResultMap" type="com.zxd.report.model.StIpConfing" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="IPADDRESS" property="IPADDRESS" jdbcType="VARCHAR" />
    <result column="USERNAME" property="USERNAME" jdbcType="VARCHAR" />
    <result column="STATE" property="STATE" jdbcType="CHAR" />
    <result column="REMARKS" property="REMARKS" jdbcType="VARCHAR" />
    <result column="CREATOR" property="CREATOR" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="CREATE_TIME" jdbcType="TIMESTAMP" />
    <result column="UPDATOR" property="UPDATOR" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="UPDATE_TIME" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, IPADDRESS, USERNAME, STATE, REMARKS, CREATOR, CREATE_TIME, UPDATOR, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ST_IPCONFING
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ST_IPCONFING
    where ID = #{ID,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.zxd.report.model.StIpConfing" >
    insert into ST_IPCONFING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="IPADDRESS != null" >
        IPADDRESS,
      </if>
      <if test="USERNAME != null" >
        USERNAME,
      </if>
      <if test="STATE != null" >
        STATE,
      </if>
      <if test="REMARKS != null" >
        REMARKS,
      </if>
      <if test="CREATOR != null" >
        CREATOR,
      </if>
      <if test="CREATE_TIME != null" >
        CREATE_TIME,
      </if>
      <if test="UPDATOR != null" >
        UPDATOR,
      </if>
      <if test="UPDATE_TIME != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="IPADDRESS != null" >
        #{IPADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="USERNAME != null" >
        #{USERNAME,jdbcType=VARCHAR},
      </if>
      <if test="STATE != null" >
        #{STATE,jdbcType=CHAR},
      </if>
      <if test="REMARKS != null" >
        #{REMARKS,jdbcType=VARCHAR},
      </if>
      <if test="CREATOR != null" >
        #{CREATOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_TIME != null" >
        #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATOR != null" >
        #{UPDATOR,jdbcType=VARCHAR},
      </if>
      <if test="UPDATE_TIME != null" >
        #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxd.report.model.StIpConfing" >
    update ST_IPCONFING
    <set >
      <if test="IPADDRESS != null" >
        IPADDRESS = #{IPADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="USERNAME != null" >
        USERNAME = #{USERNAME,jdbcType=VARCHAR},
      </if>
      <if test="STATE != null" >
        STATE = #{STATE,jdbcType=CHAR},
      </if>
      <if test="REMARKS != null" >
        REMARKS = #{REMARKS,jdbcType=VARCHAR},
      </if>
      <if test="CREATOR != null" >
        CREATOR = #{CREATOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_TIME != null" >
        CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATOR != null" >
        UPDATOR = #{UPDATOR,jdbcType=VARCHAR},
      </if>
      <if test="UPDATE_TIME != null" >
        UPDATE_TIME = #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <!--总记录数 -->
  <select id="selectByCount" resultType="int" parameterType="java.util.Map">
    select count(*) from ST_IPCONFING
  </select>

  <!--全部信息 -->
  <select id="selectByList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from ST_IPCONFING
    order by ID limit #{start},#{length}
  </select>
  <update id="updateByEnabled" parameterType="java.lang.String" >
    update ST_IPCONFING set STATE=abs(STATE-1) where ID = #{ID,jdbcType=VARCHAR}
  </update>
  <select id="getipbyuser" resultType="int">
    select count(*) from ST_IPCONFING where IPADDRESS=#{ip} and STATE=0
  </select>
</mapper>