<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxd.report.mapper.StParamsMapper" >
  <resultMap id="BaseResultMap" type="com.zxd.report.model.StParams" >
    <id column="PARM_KEY" property="PARM_KEY" jdbcType="VARCHAR" />
    <result column="PARM_VALUE" property="PARM_VALUE" jdbcType="VARCHAR" />
    <result column="REMARKS" property="REMARKS" jdbcType="VARCHAR" />
    <result column="CREATOR" property="CREATOR" jdbcType="VARCHAR" />
    <result column="CREATOR_NAME" property="CREATOR_NAME" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="CREATE_TIME" jdbcType="TIMESTAMP" />
    <result column="UPDATOR" property="UPDATOR" jdbcType="VARCHAR" />
    <result column="UPDATOR_NAME" property="UPDATOR_NAME" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="UPDATE_TIME" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    PARM_KEY, PARM_VALUE, REMARKS, CREATOR, CREATOR_NAME, CREATE_TIME, UPDATOR, UPDATOR_NAME, 
    UPDATE_TIME
  </sql>
  <select id="getParamsValue" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ST_PARAMS
    where PARM_KEY = #{PARM_KEY,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ST_PARAMS
    where PARM_KEY = #{PARM_KEY,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zxd.report.model.StParams" >
    insert into ST_PARAMS (PARM_KEY, PARM_VALUE, REMARKS, 
      CREATOR, CREATOR_NAME, CREATE_TIME, 
      UPDATOR, UPDATOR_NAME, UPDATE_TIME
      )
    values (#{PARM_KEY,jdbcType=VARCHAR}, #{PARM_VALUE,jdbcType=VARCHAR}, #{REMARKS,jdbcType=VARCHAR}, 
      #{CREATOR,jdbcType=VARCHAR}, #{CREATOR_NAME,jdbcType=VARCHAR}, #{CREATE_TIME,jdbcType=TIMESTAMP}, 
      #{UPDATOR,jdbcType=VARCHAR}, #{UPDATOR_NAME,jdbcType=VARCHAR}, #{UPDATE_TIME,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxd.report.model.StParams" >
    insert into ST_PARAMS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="PARM_KEY != null" >
        PARM_KEY,
      </if>
      <if test="PARM_VALUE != null" >
        PARM_VALUE,
      </if>
      <if test="REMARKS != null" >
        REMARKS,
      </if>
      <if test="CREATOR != null" >
        CREATOR,
      </if>
      <if test="CREATOR_NAME != null" >
        CREATOR_NAME,
      </if>
      <if test="CREATE_TIME != null" >
        CREATE_TIME,
      </if>
      <if test="UPDATOR != null" >
        UPDATOR,
      </if>
      <if test="UPDATOR_NAME != null" >
        UPDATOR_NAME,
      </if>
      <if test="UPDATE_TIME != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="PARM_KEY != null" >
        #{PARM_KEY,jdbcType=VARCHAR},
      </if>
      <if test="PARM_VALUE != null" >
        #{PARM_VALUE,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS != null" >
        #{REMARKS,jdbcType=VARCHAR},
      </if>
      <if test="CREATOR != null" >
        #{CREATOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATOR_NAME != null" >
        #{CREATOR_NAME,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_TIME != null" >
        #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATOR != null" >
        #{UPDATOR,jdbcType=VARCHAR},
      </if>
      <if test="UPDATOR_NAME != null" >
        #{UPDATOR_NAME,jdbcType=VARCHAR},
      </if>
      <if test="UPDATE_TIME != null" >
        #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxd.report.model.StParams" >
    update ST_PARAMS
    <set >
      <if test="PARM_VALUE != null" >
        PARM_VALUE = #{PARM_VALUE,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS != null" >
        REMARKS = #{REMARKS,jdbcType=VARCHAR},
      </if>
      <if test="CREATOR != null" >
        CREATOR = #{CREATOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATOR_NAME != null" >
        CREATOR_NAME = #{CREATOR_NAME,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_TIME != null" >
        CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATOR != null" >
        UPDATOR = #{UPDATOR,jdbcType=VARCHAR},
      </if>
      <if test="UPDATOR_NAME != null" >
        UPDATOR_NAME = #{UPDATOR_NAME,jdbcType=VARCHAR},
      </if>
      <if test="UPDATE_TIME != null" >
        UPDATE_TIME = #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PARM_KEY = #{PARM_KEY,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxd.report.model.StParams" >
    update ST_PARAMS
    set PARM_VALUE = #{PARM_VALUE,jdbcType=VARCHAR},
      REMARKS = #{REMARKS,jdbcType=VARCHAR},
      CREATOR = #{CREATOR,jdbcType=VARCHAR},
      CREATOR_NAME = #{CREATOR_NAME,jdbcType=VARCHAR},
      CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
      UPDATOR = #{UPDATOR,jdbcType=VARCHAR},
      UPDATOR_NAME = #{UPDATOR_NAME,jdbcType=VARCHAR},
      UPDATE_TIME = #{UPDATE_TIME,jdbcType=TIMESTAMP}
    where PARM_KEY = #{PARM_KEY,jdbcType=VARCHAR}
  </update>

  <!--总记录数 -->
  <select id="selectByCount" resultType="int" parameterType="java.util.Map">
    select count(*) from ST_PARAMS
  </select>

  <!--全部信息 -->
  <select id="selectByList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from ST_PARAMS
    order by PARM_KEY limit #{start},#{length}
  </select>
  <select id="selectForKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ST_PARAMS
    <if test="pkey != null and pkey !=''" >
      where PARM_KEY = #{pkey}
    </if>
  </select>
</mapper>