<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxd.report.mapper.StResourceMapper" >
  <resultMap id="BaseResultMap" type="com.zxd.report.model.StResource" >
    <id column="RESOURCEID" property="RESOURCEID" jdbcType="INTEGER" />
    <result column="PARENTID" property="PARENTID" jdbcType="INTEGER" />
    <result column="NAME" property="NAME" jdbcType="VARCHAR" />
    <result column="RES_KEY" property="RES_KEY" jdbcType="VARCHAR" />
    <result column="ACTION" property="ACTION" jdbcType="VARCHAR" />
    <result column="DESCN" property="DESCN" jdbcType="VARCHAR" />
    <result column="ENABLED" property="ENABLED" jdbcType="CHAR" />
    <result column="TYPE" property="TYPE" jdbcType="CHAR" />
    <result column="ICONCLS" property="ICONCLS" jdbcType="VARCHAR" />
    <result column="ISLEAF" property="ISLEAF" jdbcType="CHAR" />
    <result column="THESORT" property="THESORT" jdbcType="INTEGER" />
    <result column="CREATOR" property="CREATOR" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="CREATE_TIME" jdbcType="TIMESTAMP" />
    <result column="UPDATOR" property="UPDATOR" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="UPDATE_TIME" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    RESOURCEID, PARENTID, NAME, RES_KEY, ACTION, DESCN, ENABLED, TYPE, ICONCLS, ISLEAF, 
    THESORT, CREATOR, CREATE_TIME, UPDATOR, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ST_RESOURCE
    where RESOURCEID = #{RESOURCEID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ST_RESOURCE
    where RESOURCEID = #{RESOURCEID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zxd.report.model.StResource" >
    insert into ST_RESOURCE (RESOURCEID, PARENTID, NAME, 
      RES_KEY, ACTION, DESCN, 
      ENABLED, TYPE, ICONCLS, ISLEAF, 
      THESORT, CREATOR, CREATE_TIME, 
      UPDATOR, UPDATE_TIME)
    values (#{RESOURCEID,jdbcType=INTEGER}, #{PARENTID,jdbcType=INTEGER}, #{NAME,jdbcType=VARCHAR}, 
      #{RES_KEY,jdbcType=VARCHAR}, #{ACTION,jdbcType=VARCHAR}, #{DESCN,jdbcType=VARCHAR}, 
      #{ENABLED,jdbcType=CHAR}, #{TYPE,jdbcType=CHAR}, #{ICONCLS,jdbcType=VARCHAR}, #{ISLEAF,jdbcType=CHAR}, 
      #{THESORT,jdbcType=INTEGER}, #{CREATOR,jdbcType=VARCHAR}, #{CREATE_TIME,jdbcType=TIMESTAMP}, 
      #{UPDATOR,jdbcType=VARCHAR}, #{UPDATE_TIME,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zxd.report.model.StResource" >
    insert into ST_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="RESOURCEID != null" >
        RESOURCEID,
      </if>
      <if test="PARENTID != null" >
        PARENTID,
      </if>
      <if test="NAME != null" >
        NAME,
      </if>
      <if test="RES_KEY != null" >
        RES_KEY,
      </if>
      <if test="ACTION != null" >
        ACTION,
      </if>
      <if test="DESCN != null" >
        DESCN,
      </if>
      <if test="ENABLED != null" >
        ENABLED,
      </if>
      <if test="TYPE != null" >
        TYPE,
      </if>
      <if test="ICONCLS != null" >
        ICONCLS,
      </if>
      <if test="ISLEAF != null" >
        ISLEAF,
      </if>
        THESORT,
      <if test="CREATOR != null" >
        CREATOR,
      </if>
      <if test="CREATE_TIME != null" >
        CREATE_TIME,
      </if>
      <if test="UPDATOR != null" >
        UPDATOR,
      </if>
      <if test="UPDATE_TIME != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="RESOURCEID != null" >
        #{RESOURCEID,jdbcType=INTEGER},
      </if>
      <if test="PARENTID != null" >
        #{PARENTID,jdbcType=INTEGER},
      </if>
      <if test="NAME != null" >
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="RES_KEY != null" >
        #{RES_KEY,jdbcType=VARCHAR},
      </if>
      <if test="ACTION != null" >
        #{ACTION,jdbcType=VARCHAR},
      </if>
      <if test="DESCN != null" >
        #{DESCN,jdbcType=VARCHAR},
      </if>
      <if test="ENABLED != null" >
        #{ENABLED,jdbcType=CHAR},
      </if>
      <if test="TYPE != null" >
        #{TYPE,jdbcType=CHAR},
      </if>
      <if test="ICONCLS != null" >
        #{ICONCLS,jdbcType=VARCHAR},
      </if>
      <if test="ISLEAF != null" >
        #{ISLEAF,jdbcType=CHAR},
      </if>
      (SELECT * from (select (CASE WHEN MAX(THESORT) is null THEN 0 else MAX(THESORT) END)+1 from ST_RESOURCE where  PARENTID=#{PARENTID,jdbcType=INTEGER})t),
      <if test="CREATOR != null" >
        #{CREATOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_TIME != null" >
        #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATOR != null" >
        #{UPDATOR,jdbcType=VARCHAR},
      </if>
      <if test="UPDATE_TIME != null" >
        #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxd.report.model.StResource" >
    update ST_RESOURCE
    <set >
      <if test="PARENTID != null" >
        PARENTID = #{PARENTID,jdbcType=INTEGER},
      </if>
      <if test="NAME != null" >
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="RES_KEY != null" >
        RES_KEY = #{RES_KEY,jdbcType=VARCHAR},
      </if>
      <if test="ACTION != null" >
        ACTION = #{ACTION,jdbcType=VARCHAR},
      </if>
      <if test="DESCN != null" >
        DESCN = #{DESCN,jdbcType=VARCHAR},
      </if>
      <if test="ENABLED != null" >
        ENABLED = #{ENABLED,jdbcType=CHAR},
      </if>
      <if test="TYPE != null" >
        TYPE = #{TYPE,jdbcType=CHAR},
      </if>
      <if test="ICONCLS != null" >
        ICONCLS = #{ICONCLS,jdbcType=VARCHAR},
      </if>
      <if test="ISLEAF != null" >
        ISLEAF = #{ISLEAF,jdbcType=CHAR},
      </if>
      <if test="THESORT != null" >
        THESORT = #{THESORT,jdbcType=INTEGER},
      </if>
      <if test="CREATOR != null" >
        CREATOR = #{CREATOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_TIME != null" >
        CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATOR != null" >
        UPDATOR = #{UPDATOR,jdbcType=VARCHAR},
      </if>
      <if test="UPDATE_TIME != null" >
        UPDATE_TIME = #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RESOURCEID = #{RESOURCEID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxd.report.model.StResource" >
    update ST_RESOURCE
    set PARENTID = #{PARENTID,jdbcType=INTEGER},
      NAME = #{NAME,jdbcType=VARCHAR},
      RES_KEY = #{RES_KEY,jdbcType=VARCHAR},
      ACTION = #{ACTION,jdbcType=VARCHAR},
      DESCN = #{DESCN,jdbcType=VARCHAR},
      ENABLED = #{ENABLED,jdbcType=CHAR},
      TYPE = #{TYPE,jdbcType=CHAR},
      ICONCLS = #{ICONCLS,jdbcType=VARCHAR},
      ISLEAF = #{ISLEAF,jdbcType=CHAR},
      THESORT = #{THESORT,jdbcType=INTEGER},
      CREATOR = #{CREATOR,jdbcType=VARCHAR},
      CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
      UPDATOR = #{UPDATOR,jdbcType=VARCHAR},
      UPDATE_TIME = #{UPDATE_TIME,jdbcType=TIMESTAMP}
    where RESOURCEID = #{RESOURCEID,jdbcType=INTEGER}
  </update>
  <select id="selectbyappid" resultType="java.util.Map">
    select a.resourceid,a.name,b.resourceid roleresource
    FROM ST_RESOURCE a
    LEFT JOIN ST_ROLE_RESOURCE b on a.resourceid=b.resourceid  and ROLEID=#{roleid}
    order by THESORT
  </select>
  <select id="selectbyfatherId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM ST_RESOURCE WHERE  PARENTID=#{pId} order by THESORT
  </select>
  <select id="selectListByUser" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
    d.RESOURCEID, NAME, RES_KEY, ACTION, DESCN, ENABLED, TYPE, ICONCLS, ISLEAF,
    PARENTID,THESORT
    FROM
    ST_RESOURCE d
    RIGHT JOIN (
    SELECT
    resourceid
    FROM
    ST_ROLE_RESOURCE a
    RIGHT JOIN (
    SELECT
    ROLEID
    FROM
    ST_USER_ROLE
    WHERE
    OPERATORID = (
    SELECT
    OPERATORID
    FROM
    ST_USER
    WHERE
    USERID = #{userId,jdbcType=VARCHAR}
    )
    ) b ON a.ROLEID = b.ROLEID
    ) c ON c.resourceid = d.RESOURCEID
    WHERE
    d.TYPE = #{type,jdbcType=VARCHAR}
    AND d.ENABLED = '0'
    ORDER BY THESORT ASC
  </select>
  <select id="selResourcetree" resultType="java.util.Map">
    <if test="type=='-1'">
      select 0 id,NULL pId,'资源' name,0 type,true isParent
    </if>
    <if test="type==1 or type==0">
      select RESOURCEID id,PARENTID pId,NAME name,TYPE type,
      (case when TYPE=1 then '${ctx}/plugins/assets/global/plugins/ztree/metroStyle/img/diy/1.png' ELSE '${ctx}/plugins/assets/global/plugins/ztree/metroStyle/img/diy/2.png' END) icon,
      <include refid="Base_Column_List" />
      from  ST_RESOURCE where TYPE !='2' <if test="enabled!=1">AND ENABLED=#{enabled}</if> order by THESORT
    </if>
    <if test="type==2">
      select RESOURCEID id,PARENTID pId,NAME name,TYPE type,
      (case when TYPE=1 then '${ctx}/plugins/assets/global/plugins/ztree/metroStyle/img/diy/1.png' ELSE '${ctx}/plugins/assets/global/plugins/ztree/metroStyle/img/diy/2.png' END) icon,
      <include refid="Base_Column_List" />
      from  ST_RESOURCE where TYPE ='2' <if test="enabled!=1">AND ENABLED=#{enabled}</if> order by THESORT
    </if>
  </select>
</mapper>