<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxd.report.mapper.StRoleMapper" >
  <resultMap id="BaseResultMap" type="com.zxd.report.model.StRole" >
    <id column="ROLEID" property="ROLEID" jdbcType="INTEGER" />
    <result column="NAME" property="NAME" jdbcType="VARCHAR" />
    <result column="DESCN" property="DESCN" jdbcType="VARCHAR" />
    <result column="ENABLED" property="ENABLED" jdbcType="CHAR" />
    <result column="CREATOR" property="CREATOR" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="CREATETIME" jdbcType="TIMESTAMP" />
    <result column="UPDATOR" property="UPDATOR" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="UPDATETIME" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLEID, NAME, DESCN, ENABLED, CREATOR, CREATETIME, UPDATOR, UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ST_ROLE
    where ROLEID = #{ROLEID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ST_ROLE
    where ROLEID = #{ROLEID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zxd.report.model.StRole" >
    insert into ST_ROLE (ROLEID, NAME, DESCN, 
      ENABLED, CREATOR, CREATETIME, 
      UPDATOR, UPDATETIME)
    values (#{ROLEID,jdbcType=INTEGER}, #{NAME,jdbcType=VARCHAR}, #{DESCN,jdbcType=VARCHAR}, 
      #{ENABLED,jdbcType=CHAR}, #{CREATOR,jdbcType=VARCHAR}, #{CREATETIME,jdbcType=TIMESTAMP}, 
      #{UPDATOR,jdbcType=VARCHAR}, #{UPDATETIME,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zxd.report.model.StRole" >
    insert into ST_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ROLEID != null" >
        ROLEID,
      </if>
      <if test="NAME != null" >
        NAME,
      </if>
      <if test="DESCN != null" >
        DESCN,
      </if>
      <if test="ENABLED != null" >
        ENABLED,
      </if>
      <if test="CREATOR != null" >
        CREATOR,
      </if>
      <if test="CREATETIME != null" >
        CREATETIME,
      </if>
      <if test="UPDATOR != null" >
        UPDATOR,
      </if>
      <if test="UPDATETIME != null" >
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ROLEID != null" >
        #{ROLEID,jdbcType=INTEGER},
      </if>
      <if test="NAME != null" >
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="DESCN != null" >
        #{DESCN,jdbcType=VARCHAR},
      </if>
      <if test="ENABLED != null" >
        #{ENABLED,jdbcType=CHAR},
      </if>
      <if test="CREATOR != null" >
        #{CREATOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATETIME != null" >
        #{CREATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATOR != null" >
        #{UPDATOR,jdbcType=VARCHAR},
      </if>
      <if test="UPDATETIME != null" >
        #{UPDATETIME,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxd.report.model.StRole" >
    update ST_ROLE
    <set >
      <if test="NAME != null" >
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="DESCN != null" >
        DESCN = #{DESCN,jdbcType=VARCHAR},
      </if>
      <if test="ENABLED != null" >
        ENABLED = #{ENABLED,jdbcType=CHAR},
      </if>
      <if test="CREATOR != null" >
        CREATOR = #{CREATOR,jdbcType=VARCHAR},
      </if>
      <if test="CREATETIME != null" >
        CREATETIME = #{CREATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATOR != null" >
        UPDATOR = #{UPDATOR,jdbcType=VARCHAR},
      </if>
      <if test="UPDATETIME != null" >
        UPDATETIME = #{UPDATETIME,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ROLEID = #{ROLEID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxd.report.model.StRole" >
    update ST_ROLE
    set NAME = #{NAME,jdbcType=VARCHAR},
      DESCN = #{DESCN,jdbcType=VARCHAR},
      ENABLED = #{ENABLED,jdbcType=CHAR},
      CREATOR = #{CREATOR,jdbcType=VARCHAR},
      CREATETIME = #{CREATETIME,jdbcType=TIMESTAMP},
      UPDATOR = #{UPDATOR,jdbcType=VARCHAR},
      UPDATETIME = #{UPDATETIME,jdbcType=TIMESTAMP}
    where ROLEID = #{ROLEID,jdbcType=INTEGER}
  </update>
  <!--全部信息 -->
  <select id="selectByList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from ST_ROLE
    <where>
      <if test="model.searchValue!=null and model.searchValue!=''">
        AND  NAME like CONCAT('%',#{model.searchValue},'%' )
      </if>
    </where>
    order by UPDATETIME,CREATETIME DESC limit #{model.start},#{model.length}
  </select>
  <!--总记录数 -->
  <select id="selectByCount" resultType="int" parameterType="java.util.Map">
    select count(*) from ST_ROLE
    <where>
      <if test="model.searchValue!=null and model.searchValue!=''">
        AND  NAME like CONCAT('%',#{model.searchValue},'%' )
      </if>
    </where>
  </select>
  <insert id="insertresource" parameterType="java.util.Collection">
    insert into ST_ROLE_RESOURCE(ROLEID,RESOURCEID)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.ROLEID},#{item.RESOURCEID})
    </foreach>
  </insert>
  <update id="updateByEnabled">
    update ST_ROLE set ENABLED=(CASE when ENABLED='0' then '1' else '0' END) where ROLEID = #{ROLEID}
  </update>
</mapper>